header, nav {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 15px;
    display: block;
  }

  main {
    max-width: 1000px;
    margin: auto;
    overflow: hidden; 
    padding: 20px 0;
  }

  .conteudo {
    float: left;
    width: 70%;
    padding-right: 2%;
  }

  aside {
    float: right;
    width: 25%;
    background-color: #f0f0f0;
    padding: 10px;
  }

  .cartao {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding: 15px;
    display: block;
  }

  .cartao img {
    width: 100%;
    border-radius: 5px;
  }

  aside ul {
    list-style: none;
    padding: 0;
  }

  aside li {
    margin-bottom: 10px;
  }


  footer {
    clear: both;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    display: block;
  }

  img {
    width: 500px;
    height: auto;
  }

  @media (max-width: 768px) {
    .conteudo, aside {
      float: none;
      width: 100%;
      padding: 0;
    }
  
    main {
      padding: 10px;
    }
  
    header, nav, footer {
      text-align: center;
      padding: 10px;
    }
  
    .cartao {
      margin-bottom: 15px;
      padding: 10px;
    }
  
    .cartao h2 {
      font-size: 1.2em;
    }
  
    .cartao p {
      font-size: 1em;
    }
  
    aside ul {
      text-align: center;
    }
  
    aside li {
      margin-bottom: 8px;
    }
  }